[run]
parallel = True
source = ./quantarhei
omit =
    quantarhei/wizard/examples/*
    quantarhei/wizard/benchmarks/*
    quantarhei/scripts/*
    quantarhei/spectroscopy/pumpprobe2.py
    quantarhei/spectroscopy/twod22.py
    quantarhei/implementations/*

[report]
precision=2
omit =
    quantarhei/wizard/examples/*
    quantarhei/wizard/benchmarks/*
    quantarhei/scripts/*
    quantarhei/spectroscopy/pumpprobe2.py
    quantarhei/spectroscopy/twod22.py
    quantarhei/implementations/*
