
.spyderproject
.spyproject
.vscode
__pycache__

build
dist
quantarhei.egg-info
.DS_Store
tempfile
*~
*.lyx~
*.lyx#
*.pyc
*.hdf5
*.npz
*.npy
*.mp4
*.swp
*.png
*.pkl
*.qrp
.ipynb_checkpoints/
.cache
result_images
qrconf.py
docs/sphinx/_build/
htmlcov/
cover/
env/
.coverage
coverage.xml
.coverage.*

quantarhei_theory/
quantarhei_theory.pdf
ghen/
.eggs/

*.swp
log

