
.spyderproject
.spyproject
__pycache__

build
dist
quantarhei.egg-info
.DS_Store
.coverage
tempfile
*~
*.lyx~
*.lyx#
*.pyc
*.hdf5
*.npz
*.npy
*.mp4
.*.swp
*.pkl
.ipynb_checkpoints/
.cache
result_images
qrconf.py
docs/sphinx/_build/
.coverage
coverage.xml

quantarhei_theory/
quantarhei_theory.pdf
ghen/

*.swp
